#loader {
  position: fixed;
  inset: 0;
  background-color: rgb(243, 248, 248);
  height: 100vh;
  z-index: 1;
  -webkit-animation: cacher 200ms forwards;
          animation: cacher 200ms forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  transform-origin: top;
}
@-webkit-keyframes cacher {
  to {
    transform: scale(0);
  }
}
@keyframes cacher {
  to {
    transform: scale(0);
  }
}
#loader .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .tall-stack {
  -webkit-animation: slide-plate-out 6000ms infinite;
          animation: slide-plate-out 6000ms infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
#loader .plate {
  width: 230px;
  height: 14px;
  background: #9356dc;
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  -webkit-animation: slide-plate-in 6000ms infinite;
          animation: slide-plate-in 6000ms infinite;
  transform: translateX(100vw);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}
#loader .plate .plate-bottom {
  content: "";
  display: block;
  height: 50%;
  width: 140px;
  background: #8845d9;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}
#loader .plate .shadow {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -90px;
  z-index: 0;
  width: 180px;
  height: 10px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 80%;
  z-index: 0;
}
#loader .butter {
  width: 48px;
  height: 12px;
  background: #EADD4D;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, 0.1);
}
#loader .pancake {
  width: 200px;
  height: 14px;
  background: #D8CB9F;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, 0.1);
  margin: auto;
}
#loader .falling-element {
  transform: translateY(-100vh);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation: element-drop 6000ms infinite;
          animation: element-drop 6000ms infinite;
  position: relative;
}
#loader .falling-element:nth-child(8) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
#loader .falling-element:nth-child(7) {
  -webkit-animation-delay: 0.62s;
          animation-delay: 0.62s;
}
#loader .falling-element:nth-child(6) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
#loader .falling-element:nth-child(5) {
  -webkit-animation-delay: 1.06s;
          animation-delay: 1.06s;
}
#loader .falling-element:nth-child(4) {
  -webkit-animation-delay: 1.28s;
          animation-delay: 1.28s;
}
#loader .falling-element:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
#loader .falling-element:nth-child(2) {
  -webkit-animation-delay: 1.72s;
          animation-delay: 1.72s;
}
#loader .falling-element:nth-child(1) {
  -webkit-animation-delay: 1.94s;
          animation-delay: 1.94s;
}
@-webkit-keyframes element-drop {
  0%, 100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
  }
}
@keyframes element-drop {
  0%, 100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
  }
  11% {
    transform: translateY(20%) scaleY(1.2);
  }
  13% {
    transform: translateY(-30%) scaleY(0.9);
  }
  14%, 67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
  }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
  }
}
@-webkit-keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
  }
  15%, 100% {
    transform: translateX(0);
  }
}
@keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
  }
  15%, 100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes slide-plate-out {
  65% {
    transform: translateX(0);
  }
  85%, 100% {
    transform: translateX(-100vw);
  }
}
@keyframes slide-plate-out {
  65% {
    transform: translateX(0);
  }
  85%, 100% {
    transform: translateX(-100vw);
  }
}

.btn_commande, .fonction .etapes-fonction, .btn {
  border-radius: 21px;
  padding: 10px 26px;
  margin: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 10px -5px grey;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

/*header*/
.header {
  margin-top: -22px;
  height: 68px;
}
.header .titreHeader {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2rem;
  padding: 10px 20px;
  width: 100%;
}

.localisation {
  background-color: #eaeaea;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}
.localisation .input {
  border: none;
  height: 100%;
  color: #353535;
  background-color: #eaeaea;
  font-weight: 500;
  width: 134px;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.info h3 {
  font-size: 24px;
  text-align: center;
  width: 70%;
}
.info p {
  margin-top: -9px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 33px;
  color: #353535;
}

.btn {
  color: white;
  height: 56px;
  border-radius: 30px;
  background-image: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  transition: all 1s ease-out;
  /*animation  btn */
}
.btn:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in;
}

@media only screen and (min-width: 768px) {
  .info h3 {
    font-size: 40px;
    text-align: center;
    width: 70%;
  }
}
.color {
  color: #7e7e7e;
}

.fonction {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 33px;
}
.fonction h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fonction ol {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: compteListe;
  padding: 0px;
}
.fonction .etapes-fonction {
  transition: all 0.3s ease;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  height: 73px;
  -moz-column-gap: 17px;
       column-gap: 17px;
  padding-left: 32px;
  cursor: pointer;
}
.fonction .etapes-fonction::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 11px;
  transition: all 1s ease-out;
}
.fonction .etapes-fonction:hover {
  transition: 0.5s ease-in;
  background-color: rgba(146, 86, 220, 0.2470588235);
}
.fonction .etapes-fonction:hover .color {
  color: #9356dc;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .fonction {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fonction ol {
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
    display: flex;
    justify-content: center;
  }
  .fonction .etapes-fonction {
    padding-left: 0px;
  }
  .fonction .etapes-fonction::before {
    left: -13px;
    position: relative;
    font-size: 12px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  .fonction {
    padding-left: 104px;
    padding-right: 90px;
  }
  .fonction h2 {
    padding-left: 0px;
  }
  .fonction ol {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
  .fonction .etapes-fonction {
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding-left: 0px;
    width: 43%;
  }
  .fonction .etapes-fonction::before {
    left: -13px;
    position: relative;
  }
}
.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 62px;
}
.restaurant h3 {
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 6px;
  padding-top: 45px;
}

.resto {
  display: flex;
  flex-direction: column;
}
.resto a {
  display: flex;
}
.resto .plats {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  width: 95%;
  margin: 17px;
  height: 261px;
  overflow: hidden;
}
.resto .plats:hover {
  opacity: 0.5;
}
.resto .plats .photos {
  height: 185px;
}
.resto .plats .photos img {
  width: 100%;
  height: 168px;
  border-radius: 16px 16px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto .plats .photos .nouveaua,
.resto .plats .photos .nouveaub {
  background-color: #99e2d0;
  display: flex;
  height: 29px;
  align-items: center;
  padding: 10px;
  color: #299077;
  position: absolute;
  right: 10%;
  margin-top: -154px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.info-plats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-left: 15px;
}
.info-plats .paragraphe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10px;
  margin-top: -8px;
}
.info-plats .paragraphe h6 {
  font-size: 18px;
  margin-bottom: -10px;
}
.info-plats .paragraphe p {
  font-size: 17px;
  color: grey;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .resto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .resto .plats .photos .nouveaub,
.resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 77%;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  .restaurant {
    padding-left: 104px;
    padding-right: 90px;
  }
  .resto {
    justify-content: center;
    flex-direction: row;
  }
  .resto .plats .photos img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .resto .plats .photos .nouveaub,
.resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 65%;
  }
  .paragraphe {
    width: 72%;
  }
}
/*footer*/
footer {
  background-color: #353535;
  color: #ffffff;
  margin-top: -44px;
  padding-bottom: 38px;
  padding-left: 20px;
}
footer .footer_titre {
  color: #ffffff;
  font-family: Shrikhand;
  font-size: 18px;
  padding-top: 25px;
  line-height: 26px;
  margin-bottom: 17px;
  font-weight: 400;
}
footer a {
  color: #ffffff;
}
footer .mail {
  margin-top: -20px;
}
footer .icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: -25px;
  font-size: 16px;
  font-weight: 500;
}
footer .icon-footer i {
  font-size: 11px;
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
  footer .footer_titre {
    order: 2;
    padding-left: 32px;
    padding-top: 22px;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
  }
  footer a {
    margin-top: 0px;
  }
  footer .info-footer {
    order: 1;
    flex-direction: row;
    -moz-column-gap: 26px;
         column-gap: 26px;
    align-items: center;
  }
  footer .icon-footer {
    margin-bottom: 0px;
  }
  footer .mail {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  footer {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
}
.coeur_a,
.coeur {
  font-size: 23px;
  position: absolute;
  right: 57px;
  color: #423f3f;
  cursor: pointer;
  overflow: hidden;
}

.coeur_color_a,
.coeur_color {
  font-size: 23px;
  position: absolute;
  right: 57px;
  overflow: hidden;
  background-image: linear-gradient(218deg, #9356dc, #ff79da);
  transition: 1s ease-out;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}
.coeur_color_a:hover,
.coeur_color:hover {
  opacity: 1;
  background-image: linear-gradient(218deg, #9356dc, #ff79da);
  transition: 1s ease-in;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .coeur_color {
    position: absolute;
    right: 62px;
  }
  .coeur {
    right: 62px;
    color: #423f3f;
    position: absolute;
  }
  .coeur_a {
    position: relative;
    right: 14px;
    top: 9px;
  }
  .coeur_color_a {
    position: relative;
    right: 41px;
    top: 9px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  .coeur {
    position: relative;
    right: -24%;
    top: 10px;
    font-size: 23px;
  }
  .coeur_color {
    position: relative;
    right: 29%;
    top: 10px;
    font-size: 23px;
  }
  .coeur_a {
    position: relative;
    right: -22%;
    top: 11px;
  }
  .coeur_color_a {
    position: relative;
    right: 33%;
    top: 11px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.menu-header {
  padding: 0% 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 68px;
}
.menu-header a {
  font-family: "Shrikhand", cursive;
  color: black;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  left: 37px;
  top: 20px;
}

@media only screen and (min-width: 768px) {
  .fa-arrow-left {
    left: 64px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  .fa-arrow-left {
    left: 76px;
  }
}
.img_menu {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  margin-top: -61px;
  position: relative;
  z-index: 1;
  padding: 15px 20px 52px 20px;
  margin-bottom: 42px;
}

.titre_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titre_menu h3 {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
}

.btn_menu_check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0px 20px 20px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: margin-right 0.7s;
}

.fa .fa-solid,
.fa-check {
  display: grid !important;
  place-items: center;
  background: white;
  border-radius: 50%;
  -webkit-text-stroke-width: 1px;
  width: 29px;
  height: 29px;
  color: #99e2d0;
  justify-items: center;
}

@-webkit-keyframes chekAnim {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes chekAnim {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes effet {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes effet {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.btn_menu {
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 8px 10px -5px grey;
  background-color: white;
  cursor: pointer;
  height: 73px;
  width: 100%;
  display: flex;
  transition: all 1s ease;
  -webkit-animation: effet 0.8s both;
          animation: effet 0.8s both;
}
.btn_menu:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.btn_menu:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.btn_menu:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.btn_menu:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.btn_menu span {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  padding-bottom: 11px;
  padding-right: 19px;
  justify-content: flex-end;
  align-content: flex-end;
  margin-left: auto;
}
.btn_menu .pharagraphe-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}
.btn_menu p {
  padding: 16px;
  margin: 0px;
  white-space: nowrap;
  font-size: 15px;
  color: #423f3f;
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn_menu b {
  color: black;
  white-space: nowrap;
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn_menu:hover .btn_menu_check {
  transition: all 1s ease;
  margin-right: 0px;
}
.btn_menu:hover .fa-check {
  -webkit-animation-name: chekAnim;
          animation-name: chekAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.plats {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 40px;
}

.titre_choix_menu {
  width: 40px;
  color: #423f3f;
  padding-bottom: 10px;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
  font-weight: 100;
}

@media only screen and (max-width: 767px) {
  .a {
    margin-left: 41px;
  }
}
.choix_menu {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 0px;
}

@media only screen and (min-width: 768px) {
  .img_menu {
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    width: 80%;
    display: grid;
    margin: auto;
    margin-bottom: 5px;
    margin-top: -88px;
    position: relative;
  }
  .titre_menu {
    justify-content: center;
  }
  .plats {
    width: 70%;
    margin: auto;
  }
}
.coeur_menu {
  font-size: 35px;
  color: #423f3f;
  position: absolute;
  right: 37px;
  top: 40px;
  cursor: pointer;
  transition: 1s ease-in;
}

.coeur_menu_color {
  cursor: pointer;
  opacity: 0;
  font-size: 35px;
  position: absolute;
  right: 37px;
  top: 40px;
  background-image: linear-gradient(218deg, #9356dc, #ff79da);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1s ease-out;
}
.coeur_menu_color:hover {
  opacity: 1;
  background-image: linear-gradient(218deg, #9356dc, #ff79da);
  transition: 1s ease-in;
}

@media only screen and (min-width: 768px) {
  .coeur_menu {
    position: relative;
    right: -26px;
    top: -1px;
  }
  .coeur_menu_color {
    position: relative;
    right: 13px;
    top: -1px;
  }
}
.commande {
  display: flex;
  justify-content: center;
}

.btn_commande {
  width: 184px;
  color: white;
  height: 56px;
  border-radius: 30px;
  background-image: linear-gradient(351deg, #9356dc, #ff79da);
  display: flex;
  justify-content: center;
  transition: all 1s ease-out;
  transform: scale(1);
  transition: all 1s ease-out;
  /*animation  btn */
}
.btn_commande:hover {
  transform: scale(1.2);
  transition: 0.5s ease-in;
}

/*footer*/
footer {
  background-color: #353535;
  color: #ffffff;
  margin-top: -44px;
  padding-bottom: 38px;
  padding-left: 20px;
}
footer .footer_titre {
  color: #ffffff;
  font-family: Shrikhand;
  font-size: 18px;
  padding-top: 25px;
  line-height: 26px;
  margin-bottom: 17px;
  font-weight: 400;
}
footer a {
  color: #ffffff;
}
footer .mail {
  margin-top: -20px;
}
footer .icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: -25px;
  font-size: 16px;
  font-weight: 500;
}
footer .icon-footer i {
  font-size: 11px;
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  row-gap: 29px;
}

@media only screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
  footer .footer_titre {
    order: 2;
    padding-left: 32px;
    padding-top: 22px;
    font-size: 18px;
    font-weight: 400;
    list-style: none;
  }
  footer a {
    margin-top: 0px;
  }
  footer .info-footer {
    order: 1;
    flex-direction: row;
    -moz-column-gap: 26px;
         column-gap: 26px;
    align-items: center;
  }
  footer .icon-footer {
    margin-bottom: 0px;
  }
  footer .mail {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1820px) {
  footer {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */