@media only screen and (min-width: 1000px)  {


body{
    max-width: 1400px;
}
    .info h3 {
        font-size: 40px;
        text-align: center;
        width: 70%;
    }
  

.fonction{
    padding-left: 126px;

    ol{
        flex-direction: row;
     
        column-gap: 42px;
    }

   .etapes-fonction{
    column-gap: 3px;
           padding-left: 0px;
   
   &::before{
        left: -13px;
        position: relative;
    }}
}


.restaurant{
    padding-left: 126px;
}
.resto .plats {
    
    height: auto;
}
.resto{
    flex-direction: row;
}

.resto .plats .photos img{
    object-fit: fill;
}


.nouveaua,
 .nouveaub{
    position: relative;
    width: 66px;
    right: -111px;
    top:  -201px;
    font-size: 13px;
    margin-top: 0px;
    height: 22px;
    padding: 6px;
}
 





footer{
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
h3{
    order: 2;
    padding-left: 32px;
    padding-top: 22px;
}
    a{
        margin-top: 0px;
    }

    .info-footer {
        order: 1;
        flex-direction: row;
       column-gap: 26px;
        align-items: center;}


        .icon-footer {
            margin-bottom: 0px;
           
            }


}

.coeur {
    position: relative;
    right: 21px;
    top: 10px;
    font-size: 20px;
}
.coeur_color{
    position: relative;
    right: 21px;
    top: 10px;
    font-size: 20px;
    color: aqua;
    
    &:hover{
        background: linear-gradient(350deg, $color-Secondaire 25%, $color-primaire 65%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
     }
}
  
 
 

@keyframes coeur {
    
    0%{}
}

}






@media only screen and (min-width: 1200px)  {
     
    
   .fonction .etapes-fonction{
        column-gap: 36px;
      }

    .nouveaua,
    .nouveaub{

        right:  -159px;
        }




    }

    
@media only screen and (min-width: 1300px)  {
     
   .fonction .etapes-fonction{
    column-gap: 63px;
  }


    .nouveaua,
    .nouveaub{

        right:  -185px;
        }

    }