.btn_commande, .fonction .etapes-fonction, .info .btn {
  border-radius: 21px;
  padding: 10px 26px;
  margin: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 10px -5px grey;
}

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

/*header*/
.header {
  margin-top: -22px;
  height: 68px;
}
.header .titreHeader {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 2rem;
  padding: 10px 20px;
  width: 100%;
}

.localisation {
  background-color: #eaeaea;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}
.info h3 {
  font-size: 24px;
  text-align: center;
  width: 70%;
}
.info p {
  margin-top: -9px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 33px;
  color: #353535;
}
.info .btn {
  color: white;
  height: 56px;
  border-radius: 30px;
  background-image: linear-gradient(#ff79da, #9356dc);
  text-align: center;
  /*animation  btn */
}
.info .btn:hover {
  opacity: 0.5;
  transform: opacity 0.7s;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 1100px) {
  .info h3 {
    font-size: 40px;
    text-align: center;
    width: 70%;
  }
}
.color {
  color: #7e7e7e;
}

.fonction {
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 33px;
}
.fonction h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.fonction ol {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: compteListe;
  padding: 0px;
}
.fonction .etapes-fonction {
  transition: all 0.3s ease;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  height: 77px;
  -moz-column-gap: 17px;
       column-gap: 17px;
  padding-left: 32px;
}
.fonction .etapes-fonction::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: 11px;
}
.fonction .etapes-fonction:hover {
  background-color: rgba(146, 86, 220, 0.2078431373);
}
.fonction .etapes-fonction:hover .color {
  color: #9356dc;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .fonction {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fonction ol {
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
    display: flex;
    justify-content: center;
  }
  .fonction .etapes-fonction {
    padding-left: 0px;
  }
  .fonction .etapes-fonction::before {
    left: -13px;
    position: relative;
    font-size: 12px;
  }
}
@media only screen and (min-width: 1100px) {
  .fonction {
    padding-left: 104px;
    padding-right: 90px;
  }
  .fonction h2 {
    padding-left: 0px;
  }
  .fonction ol {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
  .fonction .etapes-fonction {
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding-left: 0px;
    width: 43%;
  }
  .fonction .etapes-fonction::before {
    left: -13px;
    position: relative;
  }
}
.restaurant {
  background-color: #f6f6f6;
  padding-bottom: 62px;
}
.restaurant h3 {
  font-size: 24px;
  padding-left: 20px;
  margin-bottom: 6px;
  padding-top: 45px;
}

.resto {
  display: flex;
  flex-direction: column;
  /*   justify-content: center;
    align-items: center;*/
}
.resto a {
  display: flex;
  /*   justify-content: center;*/
}
.resto .plats {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  width: 95%;
  margin: 17px;
  height: 261px;
  overflow: hidden;
}
.resto .plats:hover {
  opacity: 0.5;
  transform: opacity 0.7s;
}
.resto .plats .photos {
  height: 185px;
}
.resto .plats .photos img {
  width: 100%;
  height: 168px;
  border-radius: 16px 16px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.resto .plats .photos .nouveaua,
.resto .plats .photos .nouveaub {
  background-color: #99e2d0;
  display: flex;
  height: 29px;
  align-items: center;
  padding: 10px;
  color: #299077;
  position: absolute;
  right: 10%;
  margin-top: -154px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.info-plats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-left: 15px;
}
.info-plats .paragraphe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10px;
  margin-top: -8px;
}
.info-plats .paragraphe h6 {
  font-size: 18px;
  margin-bottom: -10px;
}
.info-plats .paragraphe p {
  font-size: 17px;
  color: grey;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .resto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .resto .plats .photos .nouveaub,
.resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 77%;
  }
}
@media only screen and (min-width: 1101px) {
  .restaurant {
    padding-left: 104px;
    padding-right: 90px;
  }
  .resto {
    justify-content: center;
    flex-direction: row;
  }
  .resto .plats .photos img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .resto .plats .photos .nouveaub,
.resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 65%;
  }
  .paragraphe {
    width: 72%;
  }
}
/*footer*/
footer {
  background-color: #353535;
  color: white;
  margin-top: -44px;
  padding-bottom: 38px;
  padding-left: 20px;
}
footer a {
  color: white;
}
footer h3 {
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  padding-top: 25px;
  line-height: 26px;
  margin-bottom: 2px;
}
footer .mail {
  margin-top: -10px;
}
footer .icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: -25px;
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

@media only screen and (min-width: 1000px) {
  footer {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
  footer h3 {
    order: 2;
    padding-left: 32px;
    padding-top: 22px;
  }
  footer a {
    margin-top: 0px;
  }
  footer .info-footer {
    order: 1;
    flex-direction: row;
    -moz-column-gap: 26px;
         column-gap: 26px;
    align-items: center;
  }
  footer .icon-footer {
    margin-bottom: 0px;
  }
  footer .mail {
    margin-top: 0px;
  }
}
.coeur_a,
.coeur {
  font-size: 23px;
  position: absolute;
  right: 57px;
  color: #423f3f;
  cursor: pointer;
}

.coeur_color_a,
.coeur_color {
  transition: 1s;
  font-size: 23px;
  position: absolute;
  right: 57px;
  color: rgba(128, 128, 128, 0);
  color: transparent;
  opacity: 0;
}
.coeur_color_a:hover,
.coeur_color:hover {
  opacity: 1;
  background: linear-gradient(350deg, #ff79da 25%, #9356dc 65%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media only screen and (min-width: 768px) and (max-width: 1101px) {
  .coeur_color {
    position: absolute;
    right: 62px;
  }
  .coeur {
    right: 62px;
    color: #423f3f;
    position: absolute;
  }
  .coeur_a {
    position: relative;
    right: 14px;
    top: 9px;
  }
  .coeur_color_a {
    position: relative;
    right: 41px;
    top: 9px;
  }
}
@media only screen and (min-width: 1101px) {
  .coeur {
    position: relative;
    right: -24%;
    top: 10px;
    font-size: 23px;
  }
  .coeur_color {
    position: relative;
    right: 29%;
    top: 10px;
    font-size: 23px;
  }
  .coeur_color:hover {
    background: linear-gradient(350deg, #ff79da 25%, #9356dc 65%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .coeur_a {
    position: relative;
    right: -22%;
    top: 11px;
  }
  .coeur_color_a {
    position: relative;
    right: 33%;
    top: 11px;
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 auto;
}

.menu-header {
  padding: 0% 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 68px;
}
.menu-header a {
  font-family: "Shrikhand", cursive;
  color: black;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.fa-arrow-left {
  font-size: 30px;
  color: black;
  position: absolute;
  left: 37px;
  top: 20px;
}

.img_menu {
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.menu {
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  margin-top: -61px;
  position: relative;
  z-index: 1;
  padding: 15px 20px 52px 20px;
  margin-bottom: 42px;
}

.titre_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.titre_menu h3 {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
}

.btn_menu_check {
  background-color: #99e2d0;
  width: 60px;
  margin-right: -60px;
  border-radius: 0px 20px 20px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.fa .fa-solid,
.fa-check {
  display: grid !important;
  place-items: center;
  background: white;
  border-radius: 50%;
  -webkit-text-stroke-width: 1px;
  width: 29px;
  height: 29px;
  color: #99e2d0;
  justify-items: center;
}

@-webkit-keyframes chekAnim {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes chekAnim {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.btn_menu {
  border-radius: 21px;
  overflow: hidden;
  box-shadow: 0px 8px 10px -5px grey;
  background-color: white;
  margin: 0px;
  height: 73px;
  display: flex;
}
.btn_menu span {
  display: flex;
  align-items: flex-end;
  font-weight: 900;
  padding-bottom: 11px;
  padding-right: 19px;
  justify-content: flex-end;
  align-content: flex-end;
  margin-left: auto;
}
.btn_menu .pharagraphe-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}
.btn_menu p {
  padding: 10px;
  margin: 0px;
  white-space: nowrap;
  font-size: 14px;
  color: #423f3f;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn_menu b {
  white-space: nowrap;
  display: block;
  padding-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn_menu:hover .btn_menu_check {
  transition: 1.5s;
  margin-right: 0px;
}
.btn_menu:hover .fa-check {
  -webkit-animation-name: chekAnim;
          animation-name: chekAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.plats {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 40px;
}

.titre_choix_menu {
  width: 13%;
  color: #423f3f;
  border-bottom: 3px solid #99e2d0;
  text-transform: uppercase;
}

.choix_menu {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .plats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}
.coeur_menu {
  font-size: 35px;
  color: #423f3f;
  position: absolute;
  right: 37px;
  top: 40px;
  cursor: pointer;
}

.coeur_menu_color {
  transition: 1s;
  opacity: 0;
  font-size: 35px;
  position: absolute;
  right: 37px;
  top: 40px;
  color: rgba(128, 128, 128, 0);
}
.coeur_menu_color:hover {
  opacity: 1;
  background: linear-gradient(350deg, #ff79da 25%, #9356dc 65%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.commande {
  display: flex;
  justify-content: center;
}

.btn_commande {
  width: 50%;
  color: white;
  height: 56px;
  border-radius: 30px;
  background-image: linear-gradient(#ff79da, #9356dc);
  display: flex;
  justify-content: center;
  /*animation  btn */
}
.btn_commande:hover {
  opacity: 0.5;
  transform: opacity 0.7s;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/*footer*/
footer {
  background-color: #353535;
  color: white;
  margin-top: -44px;
  padding-bottom: 38px;
  padding-left: 20px;
}
footer a {
  color: white;
}
footer h3 {
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  padding-top: 25px;
  line-height: 26px;
  margin-bottom: 2px;
}
footer .mail {
  margin-top: -10px;
}
footer .icon-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: -25px;
}
footer .info-footer {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
}

@media only screen and (min-width: 1000px) {
  footer {
    padding-left: 155px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    margin-top: -5px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 106px;
    justify-content: center;
  }
  footer h3 {
    order: 2;
    padding-left: 32px;
    padding-top: 22px;
  }
  footer a {
    margin-top: 0px;
  }
  footer .info-footer {
    order: 1;
    flex-direction: row;
    -moz-column-gap: 26px;
         column-gap: 26px;
    align-items: center;
  }
  footer .icon-footer {
    margin-bottom: 0px;
  }
  footer .mail {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */