@media only screen and (max-width: 767px) {
  .fonction .etapes-fonction, .info a {
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: 0px 8px 10px -5px grey;
  }
  * {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    margin: 0 auto;
  }
  .header {
    height: auto;
  }
  .header .titreHeader {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    text-align: center;
  }
  .localisation {
    background-color: #EAEAEA;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  .info {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    row-gap: 17px;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
  }
  .info h3 {
    font-size: 24px;
    text-align: center;
  }
  .info p {
    font-size: 18px;
    text-align: center;
  }
  .info a {
    color: white;
    height: 56px;
    background-image: linear-gradient(#9356DC, #FF79DA);
  }
  .color {
    color: #7E7E7E;
  }
  /**/
  .fonction {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .fonction h2 {
    font-size: 24px;
    padding-left: 30px;
  }
  .fonction ol {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    counter-reset: compteListe;
    padding: 0px 19px;
  }
  .fonction .etapes-fonction {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    height: 77px;
    -moz-column-gap: 17px;
         column-gap: 17px;
    padding-left: 32px;
  }
  .fonction .etapes-fonction::before {
    counter-increment: compteListe 1;
    content: counter(compteListe) " ";
    background: #9356dc;
    height: 24px;
    width: 24px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    left: 20px;
  }
  .coeur {
    font-size: 35px;
    padding-top: 29px;
    position: absolute;
    right: 57px;
  }
  /*///////////les restaurant /////////*/
  .restaurant {
    background-color: #F6F6F6;
    padding-bottom: 62px;
  }
  .restaurant h3 {
    font-size: 24px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 45px;
  }
  .resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resto a {
    display: flex;
    justify-content: center;
  }
  .resto .plats {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
  }
  .resto .plats .photos {
    height: 154px;
  }
  .resto .plats .photos img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 17px 17px 0px 0px;
  }
  .resto .plats .photos .nouveau {
    position: relative;
    right: -234px;
    top: -187px;
    height: 29px;
    width: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99E2D0;
    color: #008766;
    font-size: 14px;
  }
  .resto .plats .info-plats {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 121px;
         column-gap: 121px;
    align-items: center;
  }
  .resto .plats .info-plats .paragraphe {
    padding-left: 16px;
  }
  .resto .plats .info-plats .paragraphe h6 {
    font-size: 18px;
    margin-bottom: -10px;
  }
  .resto .plats .info-plats .paragraphe p {
    font-size: 17px;
  }
  footer {
    background-color: #353535;
    color: white;
    margin-top: -44px;
    padding-bottom: 38px;
  }
  footer h3 {
    font-family: Shrikhand;
    font-size: 18px;
    padding-top: 25px;
    padding-left: 25px;
    line-height: 26px;
    margin-bottom: 2px;
  }
  footer a {
    color: white;
    margin-top: 1px;
  }
  footer .icon-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-bottom: -25px;
  }
  footer .info-footer {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
}/*# sourceMappingURL=styleMobil.css.map */