.color {
  color: #7e7e7e;
}

.fonction {
  display: flex;
  flex-direction: column;

  margin-left: 17px;
  margin-right: 17px;
  margin-top: 33px;

  h2 {
    font-size: 24px;
    margin-bottom: 5px;
  }

  ol {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    counter-reset: compteListe;
    padding: 0px;
  }
  .etapes-fonction {
    transition: all 0.3s ease;
    @extend %btn;
    background-color: $color-gris;
    display: flex;
    flex-direction: row;
    height: 73px;
    column-gap: 17px;
    padding-left: 32px;
    cursor: pointer;

    &::before {
      counter-increment: compteListe 1;
      content: counter(compteListe) " ";
      background: $color-primaire;
      height: 24px;
      width: 24px;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      position: absolute;
      left: 11px;
      transition: all 1s ease-out;
    }

    &:hover {
      transition: 0.5s ease-in;
      background-color: #9256dc3f;
      .color {
        color: $color-primaire;
      }
    }
  }
}

@import "../utils/mixin";
@include pour_tablet_seul {
  .fonction {
    padding-left: 10px;
    padding-right: 10px;

    ol {
      flex-direction: row;

      column-gap: 12px;
      display: flex;
      justify-content: center;
    }

    .etapes-fonction {
      padding-left: 0px;

      &::before {
        left: -13px;
        position: relative;
        font-size: 12px;
      }
    }
  }
}
@import "../utils/mixin";
@include pour_PC {
  .fonction {
    padding-left: 104px;

    padding-right: 90px;

    h2 {
      padding-left: 0px;
    }

    ol {
      flex-direction: row;
      justify-content: center;
      column-gap: 42px;
    }

    .etapes-fonction {
      column-gap: 24px;
      padding-left: 0px;
      width: 43%;

      &::before {
        left: -13px;
        position: relative;
      }
    }
  }
}
