

.menu-header { 
    padding: 0% 10%;
   
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 68px;
        
    }
 
.titre_Header {
    font-family: "Shrikhand", cursive;
           
    text-align: center;
    font-size: 2rem;

width: 100%;
    text-align: center;}

.fa-arrow-left{
    font-size: 25px;
    color: black;
}