    /*header*/
    .header { 
        
        margin-top: -22px;
        height: 68px;
        .titreHeader {
            font-family: "Shrikhand", cursive;
           
            text-align: center;
            font-size: 2rem;
           
            padding: 10px 20px;
width: 100%;
box-shadow: 0 3px 9px rgb(218, 218, 218);
        }
    }