    /*header*/
    .header { 
        
        margin-top: -22px;
        height: 68px;
        .titreHeader {
            font-family: "Shrikhand", cursive;
           
            text-align: center;
            font-size: 2rem;
           
            padding: 10px 20px;
width: 100%;

        }
    }