    /*header*/
    .header { 
        height: auto;
        .titreHeader {
            font-family: "Shrikhand", cursive;
            font-size: 30px;
            text-align: center;
            
        }
    }