/*
//le header de page menu
.menu-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.titre_Header{
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    
   
}


//la fleche aguche 
.fa-arrow-left{
    font-size: 25px;
    color: black;
}
*/

.menu-header { 
    padding: 0% 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 
    grid-gap: 20%;
 
        
    }
 
.titre_Header {
    font-family: "Shrikhand", cursive;
    font-size: 30px;
    text-align: center;}

.fa-arrow-left{
    font-size: 25px;
    color: black;
}