.localisation {
  background-color: #eaeaea;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 18px;

  .input {
    border: none;
    height: 100%;
    color: rgb(5, 5, 5);
    background-color: #eaeaea;
    font-weight: 500;
    width: 134px;
    .placeholder{
      color: rgb(5, 5, 5);
    }
  }
}
