.restaurant {
  background-color: $color-gris;
  padding-bottom: 62px;

  h3 {
    font-size: 24px;
    padding-left: 20px;
    margin-bottom: 6px;
    padding-top: 45px;
  }
}
.resto {
  display: flex;
  flex-direction: column;

   a {
    display: flex;
 
  }

  .plats {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 26px;
    width: 95%;
    margin: 17px;
    height: 261px;
    overflow: hidden;
       transition: 1s ease-out;
    //animation les plats
    &:hover {
      opacity: 0.5;
      transition: 1s ease-out;
        }

    .photos {
      height: 185px;
      img {
        width: 100%;
        height: 168px;
        border-radius: 16px 16px 0px 0px;
        object-fit: cover;
      }
      .nouveaua,
      .nouveaub {
        background-color: #99e2d0;
        display: flex;
        height: 29px;
        align-items: center;
        padding: 10px;
        color: #299077;
        position: absolute;
        right: 10%;
        margin-top: -154px;

        border-radius: 3px;
        font-size: 0.8rem;
      }
    }
  }
}

.info-plats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-left: 15px;

  .paragraphe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10px;
    margin-top: -8px;

    h6 {
      font-size: 18px;
      margin-bottom: -10px;
    }
    p {
      font-size: 17px;
      color: grey;
    }
  }
}

@import "../utils/mixin";

@include pour_tablet_seul {
  .resto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .resto .plats .photos .nouveaub,
  .resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 77%;
  }
}

@include pour_PC {
  .restaurant {
    padding-left: 104px;

    padding-right: 90px;
  }
  .resto {
    justify-content: center;
    flex-direction: row;
  }

  .resto .plats .photos img {
    object-fit: cover;
  }

  .resto .plats .photos .nouveaub,
  .resto .plats .photos .nouveaua {
    position: relative;
    top: -4px;
    width: 70px;
    left: 65%;
  }

  .paragraphe {
    width: 72%;
  }
}
