.restaurant {
    background-color: $color-gris;
    padding-bottom: 62px;
   

     

    h3 {
        font-size: 24px;
        padding-left: 20px;
        margin-bottom: 6px;
        padding-top: 45px;
    }
}
.resto {
    display: flex;
    flex-direction: column;

 /*   justify-content: center;
    align-items: center;*/

    a {
        display: flex;
     /*   justify-content: center;*/
    }

    .plats {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 26px;
        width: 95%;
        margin: 17px;
        height: 261px;
        //animation les plats
        &:hover{
            opacity: .5;
            transform: opacity .7s;

        }

        .photos {
            
            height: 185px;
            img {

               width: 100%;
                height: 168px;
                border-radius: 16px 16px 0px 0px;
                object-fit: cover;

            }}}}
              .nouveaua,
            .nouveaub
             {
                background-color: #99E2D0;
  display: flex;
  height: 29px;
  align-items: center;
  padding: 10px;
  color: #299077;
  position: absolute;
  right: 10%;
  margin-top: -154px;
 
  border-radius: 3px;
  font-size: 0.8rem;
             }
        

        .info-plats {
           
            display: flex;
            justify-content: space-between;
           align-items: center;
            color:black;
            padding-left: 15px;

            .paragraphe {
               
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 10px;
                margin-top: -8px;

                h6 {
                    font-size: 18px;
                    margin-bottom: -10px;
                }
                p {
                    font-size: 17px;
                    color: grey;
                }
            }
        }

        @media only screen and (min-width: 768px) and(max-width:991px) {

            .resto {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
        }
        .nouveaua,
        .nouveaub{
          position: relative;
width: 66px;
right: -281px;
top: -156px;
font-size: 13px;
margin-top: 0px;
height: 25px;
padding: 6px;
   }
   
}

    
 

/*
        @media only screen and (min-width: 1000px)  {
            .restaurant{
                padding-left: 104px;
               
                padding-right: 90px;
            }

            .resto {


flex-direction: row;


            }
            .resto .plats {
                
                height: auto;
            }
          
            
            .resto .plats .photos img{
                object-fit: fill;
            }
            
            
            .nouveaua,
             .nouveaub{
               position: relative;
    width: 66px;
    right: -95px;
    top: -201px;
    font-size: 13px;
    margin-top: 0px;
    height: 25px;
    padding: 6px;
        }
        
    }


@media only screen and (min-width: 1200px)  {
     
    
 
 
     .nouveaua,
     .nouveaub{
 
         right:  -159px;
         }
 
 
 
 
     }
 
     
 @media only screen and (min-width: 1300px)  {
      
  
 
 
     .nouveaua,
     .nouveaub{
 
         right:  -185px;
         }
 
     }*/