
    .coeur_a,
    .coeur {
       
      font-size: 23px;
        position: absolute;
        right: 57px;
         color:$color-grisFoncer;
               
    }

   .coeur_color_a,
   .coeur_color{
    transition: 5s;
    font-size: 23px;
        position: absolute;
        right: 57px;
       color: rgba(128, 128, 128, 0);
       color: transparent;
         
      
    
         &:hover{
          
           
          background: linear-gradient(350deg, $color-Secondaire 25%, $color-primaire 65%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
         
            
         }
    }


    

    @media only screen and (min-width: 768px) and(max-width:991px) {
      .coeur_color{
        position: absolute;
        right: 62px;

      }
      
      .coeur {
        right: 62px;
        color: #423f3f;
        position: absolute;
      }


.coeur_a{
  position: relative;

  right: 41px;
}
.coeur_color_a{

  position: relative;
  right: 68px;

}
    }



    /*

 @media only screen and (min-width: 1000px)  {

    .coeur {
     

        position: relative;
        right: 21px;
        top: 10px;
        font-size: 23px;
    }
    .coeur_color{
     
        position: relative;
        right: 21px;
        top: 10px;
        font-size: 23px;
        color: aqua;
        
        &:hover{
            background: linear-gradient(350deg, $color-Secondaire 25%, $color-primaire 65%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
         }
    }
      
 }*/