.coeur_menu {
  font-size: 35px;
  color: $color-grisFoncer;
  position: absolute;
  right: 37px;
  top: 40px;
  cursor: pointer;
  transition: 1s ease-in;
  &:hover{
    opacity: 0;
  }
}

.coeur_menu_color {
  cursor: pointer;
  opacity: 0;
  font-size: 35px;
  position: absolute;
  right: 37px;
  top: 40px;
  background-image: linear-gradient(218deg, $color-primaire, $color-Secondaire);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition:  700ms ease-out;
  &:hover {
    opacity: 1;
    background-image: linear-gradient(
      218deg,
      $color-primaire,
      $color-Secondaire
    );
    transition: 700ms ease-in;
  }
}

@import "../utils/mixin";

@include pour_tablet {
  .coeur_menu {
    position: relative;
    right: -26px;
    top: -1px;
  }

  .coeur_menu_color {
    position: relative;
    right: 13px;
    top: -1px;
  }
}


@include portable_smal{


.coeur_menu {
    font-size: 27px;
    right: 29px;
top: 30px;

}
.coeur_menu_color {
  font-size: 27px;
  right: 29px;
  top: 30px;
}

}