 
    $color-primaire: #9356dc;
    $color-Secondaire: #ff79da;
    $color-Tertiaire: #99e2d0;
    $color-gris: #f6f6f6;
    $color-grisFoncer:#423f3f;
    $color-pancake: #C4B26F;
    $color-pancake: #D8CB9F;
    $color-pancake-dark: darken($color-pancake,50%);
    $color-butter: #EADD4D;
    $color-plate: #9356dc;